rxvt*font: -misc-fixed-medium-r-*-*-10-*
rxvt*font2: -misc-fixed-medium-r-*-*-13-*
rxvt*font4: -misc-fixed-medium-r-*-*-15-*
rxvt*termName: rxvt
rxvt*scrollBar: false
rxvt*background: black
rxvt*foreground: white
rxvt*metaSendsEscape:  true
rxvt*geometry: 80x25
rxvt*color1: #ff4e4e
rxvt*color4: #3080FF
rxvt*color5: #de5cdc
rxvt*color8: #707070
rxvt*color10: #00DD00
rxvt*color12: #3080FF
rxvt*smallfont_key: <
rxvt*bigfont_key: >
rxvt*saveLines: 10000
